* {
    margin: 0;
    padding: 0;
}


nav {
    grid-area: nav;
    background-color: darkblue;
    height: 10vh;
}

menu {
    grid-area: menu;
    background-color: lightgray;
    height: 85vh;
}

.mainGrid {
    display: grid;
    height: 100vh;
    grid-template-areas:
        'nav nav'
        'menu section'
        'footer footer'
    ;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: auto 1fr auto;
}


section {
    grid-area: section;
    background-color: gray;
    height: 85vh;
    overflow: auto;
}
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Columnas de tamaño flexible */
    gap: 1rem; /* Espacio entre los elementos */
    justify-content: center; /* Centra los elementos horizontalmente */
}

.product_item {
    border: 1px solid black;
    box-sizing: border-box;
    margin-bottom: 1rem;
    height: auto; /* Cambiamos la altura a auto para permitir que el contenido ajuste su altura */
}


.grid-img {
    height: 70%;
    width: 90%;
    object-fit: fill; /* Ajusta el tamaño de la imagen al contenedor */
}


.footer {
    grid-area: footer;
    background-color: darkgray;
    height: auto; /* Ajusta la altura del footer */
}

